@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: 'MLTaile';
  src: url("../fonts/ntailu.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  background: #90ced6;
  border-radius: 10px;
}

body {
  background: #162026;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.vjs_video_3-dimensions {
  width: 100%;
  height: 100%;
}

.navigation {
  height: 150px;
  background: #090f13;
  width: 100vw;
}

.navigation > nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 100px;
}

.navigation > nav .logo {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation > nav .logo > .svg_container {
  height: 100%;
}

.navigation > nav .logo > .svg_container > svg {
  height: 100%;
}

.navigation > nav .logo > .logo_txt {
  font-size: 37px;
  color: #70C229;
}

.navigation > nav > .choose_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown {
  --max-scroll: 8;
  --text: #3F4656;
  --border: #2F3545;
  --borderActive: #23C4F8;
  --background: #151924;
  --arrow: #6C7486;
  --arrowActive: #E4ECFA;
  --listText: rgb(42, 49, 65);
  --listBackground: #F5F9FF;
  --listActive: #23c4f840;
  --listTextActive: #6C7486;
  --listBorder: none;
  --textFilled: #99A3BA;
  width: 220px;
  position: relative;
}

.dropdown.light {
  --text: #CDD9ED;
  --border: #CDD9ED;
  --borderActive: #23C4F8;
  --background: #fff;
  --arrow: #99A3BA;
  --arrowActive: #6C7486;
  --listText: #99A3BA;
  --listBackground: #fff;
  --listActive: #F5F9FF;
  --listTextActive: #6C7486;
  --listBorder: #E4ECFA;
  --textFilled: #6C7486;
}

.dropdown select {
  display: none;
}

.dropdown > span {
  cursor: pointer;
  padding: 9px 16px;
  padding-right: 30px;
  border-radius: 6px;
  display: block;
  position: relative;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown > span:before, .dropdown > span:after {
  content: '';
  display: block;
  position: absolute;
  width: 8px;
  height: 2px;
  border-radius: 1px;
  top: 50%;
  right: 15px;
  background: var(--arrow);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown > span:before {
  margin-right: 4px;
  -webkit-transform: scale(0.96, 0.8) rotate(50deg);
          transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown > span:after {
  -webkit-transform: scale(0.96, 0.8) rotate(-50deg);
          transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown ul {
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  max-height: calc(var(--max-scroll) * 42px);
  top: 30px;
  left: 0;
  z-index: 1;
  right: 0;
  background: var(--listBackground);
  border-radius: 6px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  pointer-events: none;
  -webkit-transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  -webkit-transform: scale(0.8) translate(0, 4px);
          transform: scale(0.8) translate(0, 4px);
  border: 1px solid var(--listBorder);
}

.dropdown ul li {
  opacity: 0;
  -webkit-transform: translate(6px, 0);
          transform: translate(6px, 0);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.dropdown ul li a {
  cursor: pointer;
  display: block;
  padding: 10px 16px;
  color: var(--listText);
  text-decoration: none;
  outline: none;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown ul li a:hover {
  color: var(--listTextActive);
}

.dropdown ul li.active a {
  color: var(--listTextActive);
  background: var(--listActive);
}

.dropdown ul li.active a:before, .dropdown ul li.active a:after {
  --scale: .6;
  content: '';
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  right: 17px;
  top: 50%;
  opacity: 0;
  background: var(--listText);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.dropdown ul li.active a:before {
  -webkit-transform: rotate(45deg) scale(var(--scale));
          transform: rotate(45deg) scale(var(--scale));
}

.dropdown ul li.active a:after {
  -webkit-transform: rotate(-45deg) scale(var(--scale));
          transform: rotate(-45deg) scale(var(--scale));
}

.dropdown ul li.active a:hover:before, .dropdown ul li.active a:hover:after {
  --scale: .9;
  opacity: 1;
}

.dropdown ul li:first-child a {
  border-radius: 6px 6px 0 0;
}

.dropdown ul li:last-child a {
  border-radius: 0 0 6px 6px;
}

.dropdown.filled > span {
  color: var(--textFilled);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dropdown.open > span {
  border-color: var(--borderActive);
}

.dropdown.open > span:before, .dropdown.open > span:after {
  background: var(--arrowActive);
}

.dropdown.open > span:before {
  -webkit-transform: scale(0.96, 0.8) rotate(-50deg);
          transform: scale(0.96, 0.8) rotate(-50deg);
}

.dropdown.open > span:after {
  -webkit-transform: scale(0.96, 0.8) rotate(50deg);
          transform: scale(0.96, 0.8) rotate(50deg);
}

.dropdown.open ul {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1) translate(0, 12px);
          transform: scale(1) translate(0, 12px);
  -webkit-transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
  transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.3s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.dropdown.open ul li {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.dropdown.open ul li:nth-child(1) {
  -webkit-transition-delay: 80ms;
          transition-delay: 80ms;
}

.dropdown.open ul li:nth-child(2) {
  -webkit-transition-delay: 160ms;
          transition-delay: 160ms;
}

.dropdown.open ul li:nth-child(3) {
  -webkit-transition-delay: 240ms;
          transition-delay: 240ms;
}

.dropdown.open ul li:nth-child(4) {
  -webkit-transition-delay: 320ms;
          transition-delay: 320ms;
}

.dropdown.open ul li:nth-child(5) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.dropdown.open ul li:nth-child(6) {
  -webkit-transition-delay: 480ms;
          transition-delay: 480ms;
}

.dropdown.open ul li:nth-child(7) {
  -webkit-transition-delay: 560ms;
          transition-delay: 560ms;
}

.dropdown.open ul li:nth-child(8) {
  -webkit-transition-delay: 640ms;
          transition-delay: 640ms;
}

.dropdown.open ul li:nth-child(9) {
  -webkit-transition-delay: 720ms;
          transition-delay: 720ms;
}

.dropdown.open ul li:nth-child(10) {
  -webkit-transition-delay: 800ms;
          transition-delay: 800ms;
}

select {
  --text: #3F4656;
  --border: #2F3545;
  --background: #151924;
}

select.dropdown {
  padding: 9px 16px;
  border-radius: 6px;
  color: var(--text);
  border: 1px solid var(--border);
  background: var(--background);
  line-height: 22px;
  font-size: 16px;
  font-family: inherit;
  -webkit-appearance: none;
}

@-webkit-keyframes tilt-up {
  40%,
  60% {
    -webkit-transform: perspective(500px) rotateX(8deg);
            transform: perspective(500px) rotateX(8deg);
  }
}

@keyframes tilt-up {
  40%,
  60% {
    -webkit-transform: perspective(500px) rotateX(8deg);
            transform: perspective(500px) rotateX(8deg);
  }
}

@-webkit-keyframes tilt-down {
  40%,
  60% {
    -webkit-transform: perspective(500px) rotateX(-8deg);
            transform: perspective(500px) rotateX(-8deg);
  }
}

@keyframes tilt-down {
  40%,
  60% {
    -webkit-transform: perspective(500px) rotateX(-8deg);
            transform: perspective(500px) rotateX(-8deg);
  }
}

.container {
  height: calc(100vh - 150px);
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.container > .video-holder {
  width: 70vw;
  height: 100%;
  position: relative;
}

.container > .video-holder > .video-update {
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 20px;
  color: gray;
  mix-blend-mode: difference;
  z-index: 200;
  -webkit-animation: show 0.6s cubic-bezier(0, 1.18, 0.5, 1.16);
          animation: show 0.6s cubic-bezier(0, 1.18, 0.5, 1.16);
}

.container > .video-holder > .video-timeline {
  width: calc(100% - 32px);
  border-radius: 200px;
  height: 0px;
  background: red;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.container > .video-holder > .video-timeline > .add_bookmark_option {
  width: 220px;
  padding: 20px;
  background-color: #162026;
  position: absolute;
  bottom: 10px;
  border-radius: 7px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.247);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.247);
  border: 5px solid #162026;
  -webkit-animation: showBookMark 0.25s cubic-bezier(0, 1.18, 0.5, 1.16);
          animation: showBookMark 0.25s cubic-bezier(0, 1.18, 0.5, 1.16);
  -webkit-transition: 0.25s cubic-bezier(0, 1.18, 0.5, 1.16);
  transition: 0.25s cubic-bezier(0, 1.18, 0.5, 1.16);
}

.container > .video-holder > .video-timeline > .add_bookmark_option.hide {
  opacity: 0;
  bottom: 20px;
  visibility: hidden;
  pointer-events: none;
}

.container > .video-holder > .video-timeline > .add_bookmark_option > .myLabel {
  padding: 0;
  margin-bottom: 6px;
}

.container > .video-holder > .video-timeline > .add_bookmark_option input {
  width: 100%;
  background: #090f13;
  outline: none;
  padding: 4px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #e24a1a;
  font-weight: 500;
  border-radius: 4px;
  color: white;
}

.container > .video-holder > .video-timeline > .add_bookmark_option label {
  font-size: 17px;
  color: #E24A1A;
  font-weight: 600;
}

.container > .video-holder > .video-timeline > .add_bookmark_option .notice > p {
  color: #ffffff4a;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
}

.container > .video-holder > .video-timeline > .add_bookmark_option .notice > p > span {
  font-weight: 700;
  color: #ffffff47;
}

.container > .video-holder > .video-timeline > .bookmark {
  width: 14px;
  height: 18px;
  position: absolute;
  bottom: -7px;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .21s ease-in-out;
  transition: .21s ease-in-out;
}

.container > .video-holder > .video-timeline > .bookmark.hide {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container > .video-holder > .video-timeline > .bookmark > .bookmark_sign {
  width: 100%;
  height: 100%;
}

.container > .video-holder > .video-timeline > .bookmark > .bookmark_sign > svg {
  width: 100%;
  height: 100%;
}

.container > .video-holder .video {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #10191f;
}

.container > .video-holder .video video {
  background: black;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
}

.container > .video-holder .video video:focus {
  outline: none;
}

@-webkit-keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.video-list {
  width: 30vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 100%;
  overflow: hidden auto;
}

.video-list .list {
  position: relative;
  list-style: none;
}

.video-list > .placeholder_list > .placeholder_item {
  width: 100%;
  height: 50px;
}

.video-list .video-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding: 0 10px;
  border-top: 1px solid rgba(207, 207, 207, 0.055);
  cursor: pointer;
  -webkit-transition: 0.1s cubic-bezier(0, 1.18, 0.5, 1.16);
  transition: 0.1s cubic-bezier(0, 1.18, 0.5, 1.16);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-list .video-link > .name {
  line-height: 22px;
  font-size: 16px;
  color: #667e8c;
  width: 84%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}

.video-list .video-link > .name[contenteditable="true"]:focus {
  outline: none;
  border: 1px solid #ffffff2e;
  padding: 5px;
  background: #090f13;
  color: #516571;
  font-weight: 900;
}

.video-list .video-link > .duration {
  color: #a7a7a7;
  background: #000000e0;
  font-family: 'Roboto', sans-serif;
  padding: 3px;
  font-size: 14px;
  margin-left: 2px;
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 0.2s cubic-bezier(0, 1.18, 0.5, 1.16);
  transition: 0.2s cubic-bezier(0, 1.18, 0.5, 1.16);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.video-list .video-link > .duration:empty {
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.video-list .video-link:last-child {
  border-bottom: 1px solid rgba(207, 207, 207, 0.055);
}

.video-list .video-link:hover {
  background: rgba(0, 0, 0, 0.247);
}

.video-list .video-link.active {
  background: rgba(0, 0, 0, 0.247);
}

.video-list .video-link.active > .completion-range {
  background: rgba(67, 112, 192, 0.24);
}

.video-list .video-link > .checkbox {
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 10px;
  background: white;
  border-radius: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-list .video-link > .checkbox.completed {
  background: transparent;
}

.video-list .video-link > .checkbox.completed > svg path {
  fill: #E24A1A;
}

.video-list .video-link > .checkbox > svg {
  width: 100%;
  height: 100%;
}

.video-list .video-link > .checkbox > svg path {
  fill: white;
}

.video-list .video-link > .completion-range {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(68, 73, 82, 0.24);
  z-index: -1;
}

.video_details {
  width: 100%;
  height: 500px;
}

.video_details > .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.video_details > .header > .video-title {
  font-size: 30px;
  color: #e24a1a;
}

.video_details > .header > .bookmarks-filter > select {
  padding: 2px 10px;
  font-size: 13px;
  outline: none;
  border: none;
  background: #e24a1a;
  color: white;
}

.video_details > .bookmarks {
  width: 100%;
}

.video_details > .bookmarks > .header {
  font-size: 15px;
  color: #ffffff52;
  padding: 25px 82px 8px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

.video_details > .bookmarks #bookmark_list {
  width: 100%;
}

.video_details > .bookmarks #bookmark_list .category-separator {
  background: #212931;
  margin: 0 60px;
  font-family: 'Roboto';
  margin-top: 10px;
}

.video_details > .bookmarks #bookmark_list .category-separator:first-child {
  margin-top: 0;
}

.video_details > .bookmarks #bookmark_list .category-separator > .video-name {
  padding: 10px 20px;
  background: #090f13;
  color: #e24a20;
}

.video_details > .bookmarks #bookmark_list .bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffeff;
  padding: 15px 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.video_details > .bookmarks #bookmark_list .bookmark:hover {
  background: #0000002e;
  cursor: pointer;
}

.video_details > .bookmarks #bookmark_list .bookmark > .time_stamp {
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  text-align: left;
  background: #162026;
  padding: 2px 5px;
  color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.video_details > .bookmarks #bookmark_list > .bookmark {
  margin: 0 60px;
  color: #86a2b7;
}

.contextMenu {
  position: absolute;
  width: 200px;
  padding: 4px 0;
  background-color: white;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  pointer-events: auto;
  -webkit-transition: 0.3s cubic-bezier(0, 1.18, 0.5, 1.16);
  transition: 0.3s cubic-bezier(0, 1.18, 0.5, 1.16);
  -webkit-animation: show 0.3s cubic-bezier(0, 1.18, 0.5, 1.16);
          animation: show 0.3s cubic-bezier(0, 1.18, 0.5, 1.16);
}

.contextMenu.hide {
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  pointer-events: none;
}

.contextMenu > .menu_holder > .option {
  padding: 8px 10px;
  font-size: 14px;
  font-family: 'Ubuntu';
  border-bottom: 1px solid #a7a7a7a8;
  cursor: pointer;
}

.contextMenu > .menu_holder > .option:hover {
  background: #80808085;
}

.contextMenu > .menu_holder > .option:last-child {
  border-bottom: none;
}

@keyframes show {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
    pointer-events: none;
  }
  40% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    pointer-events: auto;
  }
}

.message {
  display: block;
  width: 350px;
  margin: 200px auto;
}

.message > a {
  display: inline-block;
  margin-top: 40px;
  text-decoration: none;
  outline: none;
  border: 2px solid #fff;
  padding: 6px 20px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.123);
  color: white;
  cursor: pointer;
  -webkit-transition: .15s ease-in-out;
  transition: .15s ease-in-out;
}

.message > a:hover {
  background: rgba(255, 255, 255, 0.123);
  border: 2px solid #23C4F8;
  color: white;
}

#currentPath {
  display: none;
}

@-webkit-keyframes showBookMark {
  0% {
    opacity: 0;
    bottom: 20px;
    visibility: hidden;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    bottom: 10px;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: 0.2s cubic-bezier(0, 1.18, 0.5, 1.16);
    transition: 0.2s cubic-bezier(0, 1.18, 0.5, 1.16);
  }
}

@keyframes showBookMark {
  0% {
    opacity: 0;
    bottom: 20px;
    visibility: hidden;
    pointer-events: none;
  }
  100% {
    opacity: 1;
    bottom: 10px;
    visibility: visible;
    pointer-events: auto;
    -webkit-transition: 0.2s cubic-bezier(0, 1.18, 0.5, 1.16);
    transition: 0.2s cubic-bezier(0, 1.18, 0.5, 1.16);
  }
}
/*# sourceMappingURL=main.css.map */